<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<!-- 웹 애플리케이션에 사용하는 역할 나열 -->
	<security-role>
		<role-name>role1</role-name>
	</security-role>
	<!-- 시큐리티 제약 사항-사용자의 요청 url에 대한 접근 권한을 정의하는데 사용 -->
	<security-constraint>
		<!-- 웹 자원에 대한 접근을 설정하는 요소 -->
		<web-resource-collection>
			<web-resource-name>JSPBook</web-resource-name>
			<url-pattern>/ch10/security02.jsp</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<!-- 권한이 부여된 사용자만이 웹 자원에 접근할 수 있도록 이름을 설정하는 요소 -->
		<!-- auth-constraint요소를 생략하면 웹 서버는 사용자 인증을 요구하지 않고 사용자 요청을 승인 -->
		<auth-constraint>
			<description></description>
			<role-name>role1</role-name>
		</auth-constraint>
		<!-- user-data=constraint 쿨라이언트와 서버 간에 데이터를 전송할 떄 데이터를 보호하는 방법을 설정하는 요소 -->
	</security-constraint>
	<!-- 인증 처리를 위한 로그인 페이지나 오류 페이지를 호출하는 데 사용 -->
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/ch10/login.jsp</form-login-page>
			<form-error-page>/ch10/login_failed.jsp</form-error-page>
		</form-login-config>
	</login-config>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/ch11/exceptionType_error.jsp</location>
	</error-page>
	<filter>
		<filter-name>Filter02</filter-name>
		<filter-class>ch12.com.filter.InitParameter</filter-class>
		<init-param>
			<param-name>param1</param-name>
			<param-value>admin</param-value>
		</init-param>
		<init-param>
			<param-name>param2</param-name>
			<param-value>1234</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Filter02</filter-name>
		<url-pattern>/ch12/filter02_process.jsp</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>Filter02_2</filter-name>
		<filter-class>ch12.com.filter.LogFileFilter</filter-class>
		<init-param>
			<param-name>filename</param-name>
			<param-value>c:\\logs\\monitor.log</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Filter02_2</filter-name>
		<url-pattern>/ch12/filter02_process.jsp</url-pattern>
	</filter-mapping>
</web-app>